@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;300;500&display=swap');
 * {
  box-sizing: border-box;
  background-color: #D0CABB;
  margin: 0%;
  padding: 0%;
  color: #624B4B;
} 

body {
  font-family: 'Lexend Exa', sans-serif;
}

.container-header {
  display: flex;
  /* background-color: rgba(217, 213, 201); */
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 40px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}
.container-pomodoro {
  display: block;
  width: 90%;
  margin: 20px;
  height: auto;
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.container-allAudio{
  display: block;
  width: 70%;
  margin: 20px;
  height: auto;
  padding: 30px;
  border-radius: 10px;
  margin-left: 15%;
}
.container-tasks {
  display: inline-block;
  min-width: 60%;
  margin: 20px;
  margin-top: 140px;
  height: 90%;
  padding: 30px;
  border-radius: 10px;
  /* background-color: #806B6B; */
  vertical-align: top;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.login-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 9%;
}
.login-box{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 600px;
  margin-top: 100px;
  margin-right: 50px;
  margin-bottom: 100px;
  padding-left: 150px;
  border-left: solid 2px #806B6B;
}
.login-under{
  display: flex;
  justify-content: space-between;
}
.header-about{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}
.register-box{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 600px;
  margin-left: 50px;
  margin-top: 40px;
  padding-right: 150px;
  border-right: solid 2px #806B6B;
  margin-bottom: 5%;
}
.container-footer{
  display: flex;
  width: 100%;
  bottom: 0;
  top: 1000px;
  /* position: fixed; */
  height: 30px;
  background-color: #806B6B;
}
.container-footer p{
  display: flex;
  align-items: center;
  color: #fff;
  background-color: inherit;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 100;
}
.container-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 40px;
  width: 70%;
  height: 80%;
  margin-top: 70px;
  background-color: rgb(168,155,147);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}
.container-about h1{
  background-color: inherit;
  font-size: 45px;
}
.container-about p{
  color:#fff;
  background-color: inherit;
}
.container-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
  margin-top: 100px;
}
.container-about p{
  margin-top: 20px;
  font-size: 20px;
}
.container-team{
  width: 70%;
  height: 100px auto;
  background: #E5E5E5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.container-team p{
  margin: 20px;
  border: none;
  border-radius: 40px;
  display: flex;
  background-color: inherit;
  justify-content: center;
  align-items: center;
}
.chris{
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 40px;
  width: 49.5%;
  height: auto;
  background-color: inherit;
  text-align: center;
  align-items: center;
  overflow:auto;
}
.teamPics{
  display: flex;
  height: 250px;
  width: 250px;
  background-color: inherit;
  margin: 30px;
}
.chris h3{
  background-color: inherit;
}
.name-divider{
  height: 350px;
  width: 1%;
  border: none;
  border-right: solid 1px #806B6B;
  background-color: inherit;
}
.kent{
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 40px;
  width: 49.5%;
  height: auto;
  background-color: inherit;
  text-align: center;
  align-items: center;
  overflow:auto;
}
.kent h3{
  background-color: inherit;
}
.audio-font{
  display: block;
  font-size: 20px;
  padding: 5px;
  margin-top: 11px;
  margin-bottom: 11px;
}
.menu-header{
  background-color: #D0CABB;
}
.ddMenu{
  display: flex;
  flex-direction: column;
  border: none;
  margin-top: 25%;
  width: 150%;
  font: inherit;
  font-size: medium;
  border: solid 1px #624B4B;
  opacity: 0.9;
}
.menu-btns{
  border: none;
  padding: 15px;
  font: inherit;
  cursor: pointer;
  background-color: #806B6B;
  color: #fff;
}
.menu-btns:hover{
  background-color: #624B4B;
  transition: 0.5s;
}

.mainLogo {
  height: 90px;
  width: 140px;
  /* background-color: rgba(217, 213, 201); */
  object-fit: cover;
}
.icon-menu{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  /* background-color: inherit; */
  /* color: inherit; */
}
.icon-play{
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-left: 5px;
  border: none;
  border-radius: 50%;
}
.icon-play:hover{
  background-color: #c0baac;
  transition: 0.3s;
}
.icon-play:active{
  transform: scale(0.95);
}
.icon-align{
  display: block;
  margin-top: 10px;
}
.icon-gen{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.icon-task{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.arrange{
  margin-top: 120px;
  display: inline-block;
  width: 500px;
}
/* .background-green{
  background-color: #87C267;
}
.background-blueGreen{
  background-color: #00CC99;
} */

.label{
  font-size: 17px;
  display: inline;
  cursor: pointer;
  margin: 15px;
  font-family:inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: inherit;
}
.about-logout{
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.header-pomodoro {
  display:flex;
  /* text-align: center; */
  justify-content: space-between;
}
.work-break {
  width: 50%;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
.work-break:hover {
  background-color: #806B6B;
  color: #fff;
  transition: 0.5s;
}
.timer {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 70px;
  padding: 30px;
}
.startBtn{
  font-size: 20px;
  font-family: inherit;
  display: block;
  border: none;
  padding: 3px 20px;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  background-color: #806B6B;
  color: #fff;
}
.startBtn:hover{
  background-color: #624B4B;
  transition: 0.4s;
}
.startBtn:active {
  transform: scale(0.95);
}

.btn {
  display: inline-block;
  background: #806B6B;
  color: #fff;
  border: none;
  padding: 3px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:hover{
  background: #624B4B;
  transition: 0.5s;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.97);
}

.btn-block {
  display: block;
  width: 100%;
  height: 40px;
}
.btn-block-login {
  margin-top: 50px;
  display: block;
  width: 100%;
  height: 90px;
  font-size: 30px;
}
.input-style {
  box-sizing: border-box;
  border: none;
  transition: 0.3s;
  outline: none;
  border-bottom: 1px solid #806B6B;
}
.input-style:focus {
  border-bottom: 4px solid #624B4B;
}

/* .container-list{
  width: 80%;
} */
.task {
  display: block;
  /* background-color: rgba(217, 213, 201); */
  margin: 5px;
  padding: 10px 20px;
}
.check-task{
  display: inline-block;
  background-color: #806B6B;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 5px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
}
.check-task:checked{
  accent-color: #624B4B;
}

.task.reminder {
  display: block;
  width: 100%;
  border-left: 5px solid #624B4B;
}
.task-info{
  display: inline-flex;
  background-color: inherit;
  vertical-align: middle;
  width: 88%;
  align-items: center;
  justify-content: space-between;
}
.task h3 {
  background-color: inherit;
  vertical-align: top;
}
.x-btn {
  color:#624B4B;
  cursor:pointer; 
  background-color: inherit;
  width: 20px;
  height: 20px;
  transform: scale(0.95);
  transition: width 0.2s, height 0.2s, transform 0.5s;
}
.x-btn:hover {
  width: 25px;
  height: 25px;
}

.task p {
  background-color: inherit;
  margin-left: 60px;
}

.add-form {
  margin-bottom: 40px;
  width: 100%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 15;
}

.form-control-check input {
  flex: 1;
  height: 20px;
  accent-color: #624B4B;
}

/* footer {
  margin-top: 30px;
  text-align: center;
} */

input[type=range] {
  height: 10px;
  -webkit-appearance: none;
  width: 80%;
  margin-left: 10px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #806B6B;
}
input[type=range]::-webkit-slider-runnable-track:hover {
  background: #624B4B;
  transition: 0.4s
}
input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 25px;
  background: #806B6B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]::-webkit-slider-thumb:active {
  transform: scale(0.90);
}
input[type=range]::-webkit-slider-thumb:hover {
  background: #624B4B;
  transition: 0.4s
}
/* input[type=range]:focus::-webkit-slider-runnable-track {
  height: 5px;
} */
/* input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
} */
/* input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
} */
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
} */
/* input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
} */
/* input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
} */

