@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;300;500&display=swap");
* {
  box-sizing: border-box;
  background-color: #d0cabb;
  margin: 0%;
  padding: 0%;
  color: #624b4b;
}

body {
  font-family: "Lexend Exa", sans-serif;
}
.hello {
  width: 95%;
  height: 44px;
  background: #806b6b;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hello p {
  background-color: inherit;
  color: #fff;
}
.container-header {
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 90px;
  padding-left: 4%;
  padding-right: 4%;
}
.container-pomodoro {
  display: block;
  width: 90%;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  background: #a89a92;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}
.container-allAudio {
  display: block;
  margin: 20px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}
.container-tasks {
  display: inline-block;
  min-width: 50%;
  height: 90%;
  padding: 30px;
  vertical-align: top;
  background: #a89a92;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}
.loading {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 200px;
  justify-content: center;
  align-items: center;
}
.login-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 9%;
}
.login-box {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 600px;
  margin-top: 100px;
  margin-right: 50px;
  margin-bottom: 100px;
  padding-left: 150px;
  border-left: solid 2px #806b6b;
}
.login-under {
  display: flex;
  justify-content: space-between;
}
.header-about {
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 90px;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-between;
  align-items: center;
}
.register-box {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 600px;
  margin-left: 50px;
  margin-top: 40px;
  padding-right: 150px;
  border-right: solid 2px #806b6b;
  margin-bottom: 5%;
}
.container-footer {
  display: flex;
  width: 100%;
  bottom: 0;
  top: 1000px;
  /* position: fixed; */
  height: 30px;
  background-color: #806b6b;
}
.container-footer p {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: inherit;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 100;
}
.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 40px;
  width: 70%;
  height: 80%;
  margin-top: 70px;
  background-color: #806b6b;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}
.container-about h1 {
  background-color: inherit;
  color: #fff;
  font-size: 45px;
}
.container-about p {
  color: #fff;
  font-weight: 300;
  background-color: inherit;
  text-align: justify;
}
.container-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
  margin-top: 100px;
}
.container-about p {
  margin-top: 20px;
  font-size: 20px;
}
.container-team {
  width: 70%;
  height: 100px auto;
  background: #806b6b;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.container-team p {
  margin: 20px;
  border: none;
  border-radius: 40px;
  display: flex;
  background-color: inherit;
  justify-content: center;
  align-items: center;
}
.chris {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 40px;
  width: 49.5%;
  height: auto;
  background-color: inherit;
  text-align: center;
  align-items: center;
  overflow: auto;
}
.teamPics {
  display: flex;
  height: 250px;
  width: 250px;
  background-color: inherit;
  margin: 30px;
}
.chris h3 {
  background-color: inherit;
  color: #fff;
}
.chris p {
  color: #fff;
  font-weight: 300;
}
.name-divider {
  height: 350px;
  width: 1%;
  border: none;
  border-right: solid 1px #624b4b;
  background-color: inherit;
}
.kent {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 40px;
  width: 49.5%;
  height: auto;
  background-color: inherit;
  text-align: center;
  align-items: center;
  overflow: auto;
}
.kent h3 {
  background-color: inherit;
  color: #fff;
}
.kent p {
  color: #fff;
  font-weight: 300;
}
.audio-font {
  display: block;
  font-size: 20px;
  padding: 5px;
  margin-top: 11px;
  margin-bottom: 11px;
}
.menu-header {
  background-color: #d0cabb;
}
.ddMenu {
  display: flex;
  flex-direction: column;
  border: none;
  margin-top: 25%;
  width: 150%;
  font: inherit;
  font-size: medium;
  border: solid 1px #624b4b;
  opacity: 0.9;
}
.menu-btns {
  border: none;
  padding: 15px;
  font: inherit;
  cursor: pointer;
  background-color: #806b6b;
  color: #fff;
}
.menu-btns:hover {
  background-color: #624b4b;
  transition: 0.5s;
}

.mainLogo {
  width: 200px;
  height: 60px;
  overflow: hidden;
  object-fit: cover;
}
.nav {
  font-size: 18px;
}
.nav:hover {
  transform: scale(1.03);
  transition: 0.1s;
}
.nav:active {
  transform: scale(0.95);
}
.icon-menu {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.icon-play {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-left: 5px;
  border: none;
  border-radius: 50%;
}
.icon-play:active {
  transform: scale(0.95);
}
.icon-align {
  display: block;
  margin-top: 10px;
}
.icon-gen {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.icon-plus-minus {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin: 10px;
}
.icon-task {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: inherit;
}
.icon-back {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: inherit;
}
.arrange {
  margin-top: 20px;
  margin-left: 3%;
  display: inline-block;
  width: 500px;
  margin-right: 50px;
}

.label {
  font-size: 17px;
  display: inline;
  cursor: pointer;
  margin: 15px;
  font-family: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: inherit;
}
.header-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: inherit;
  background-color: inherit;
}
.header-task h1 {
  background-color: inherit;
}
.about-logout {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.header-pomodoro {
  display: flex;
  background-color: inherit;
  justify-content: space-around;
}
.work-break {
  display: flex;
  justify-content: center;
  background-color: inherit;
  width: 35%;
  font-size: 30px;
  cursor: pointer;
}
.work-break:hover {
  color: #fff;
  transition: 0.1s;
}
.work-break:active {
  transform: scale(0.95);
}
.work-break-div {
  background-color: inherit;
  border-left: solid 1px #806b6b;
}
.active {
  font-size: 32px;
  background-color: inherit;
  border-bottom: solid 3px #fff;
}
.timer {
  background-color: inherit;
  font-weight: 500;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 90px;
  padding: 30px;
}
.backBtn {
  font-family: inherit;
  font-size: 18px;
  display: flex;
  border: none;
  padding: 3px 20px;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}
.backBtn p {
  display: flex;
  background-color: inherit;
}
.backBtn:hover {
  transform: scale(1.03);
  transition: 0.1s;
}
.backBtn:active {
  transform: scale(0.95);
}
.startBtn {
  font-size: 20px;
  font-family: inherit;
  display: block;
  border: none;
  padding: 3px 20px;
  margin: auto;
  cursor: pointer;
  background: #806b6b;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.startBtn:hover {
  background-color: #624b4b;
  color: #fff;
  transition: 0.3s;
}
.startBtn:active {
  transform: scale(0.95);
}

.btn {
  display: inline-block;
  background: #806b6b;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.btn:hover {
  background: #624b4b;
  transition: 0.5s;
}
.btn:active {
  transform: scale(0.97);
}
.btn-block {
  display: block;
  width: 100%;
  height: 40px;
}
.btn-block-login {
  margin-top: 50px;
  display: block;
  width: 100%;
  height: 90px;
  font-size: 30px;
}
.input-style {
  box-sizing: border-box;
  border: none;
  transition: 0.1s;
  outline: none;
  border-bottom: 1px solid #806b6b;
  background-color: inherit;
  font-family: inherit;
}
.input-style::placeholder {
  color: #806b6b;
  font-weight: 300;
}
.input-style:focus {
  border-bottom: 4px solid #624b4b;
}
.separate-task {
  display: block;
}

.task {
  display: block;
  margin: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

input[type="checkbox"] {
  appearance: none;
  margin: 5px;
  margin-right: 20px;
  width: 35px;
  height: 35px;
  transition: 0.1s;

  display: inline-block;
  vertical-align: middle;
  place-content: center;
  content: url("./images/pin.png");
}
input[type="checkbox"]:hover {
  width: 38px;
  height: 38px;
}
.form-control + .form-control {
  margin-top: 1em;
}
input[type="checkbox"]:checked {
  content: url("./images/check.png");
}

.task.reminder {
  display: block;
  width: 100%;
  border-left: 5px solid #624b4b;
}
.task-info {
  display: inline-flex;
  background-color: inherit;
  vertical-align: middle;
  width: 88%;
  align-items: center;
  justify-content: space-between;
}
.task h3 {
  background-color: inherit;
  vertical-align: top;
}
.x-btn {
  color: #624b4b;
  cursor: pointer;
  background-color: inherit;
  width: 20px;
  height: 20px;
  transform: scale(0.95);
  transition: width 0.1s, height 0.1s, transform 0.2s;
}
.x-btn:hover {
  width: 25px;
  height: 25px;
}

.task p {
  background-color: inherit;
  margin-left: 60px;
}

.add-form {
  margin-bottom: 40px;
  width: 100%;
  background-color: #a89a92;
}
.add-form-login {
  margin-bottom: 40px;
  width: 100%;
  background-color: inherit;
}
.form-control {
  margin: 20px 0;
  background-color: inherit;
}

.form-control label {
  display: block;
  background-color: inherit;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 15;
}

.form-control-check input {
  flex: 1;
  height: 20px;
  accent-color: #624b4b;
}

input[type="range"] {
  height: 10px;
  -webkit-appearance: none;
  width: 65%;
  margin-left: 5px;
  margin-right: 5px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #806b6b;
}
input[type="range"]::-webkit-slider-runnable-track:hover {
  background: #624b4b;
  transition: 0.4s;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 25px;
  border: #d0cabb solid 2px;
  background: #806b6b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(0.9);
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #624b4b;
  transition: 0.4s;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
